## Jupyter Notebook Tutorial

(Adapted from geopandas tutorial by Ryan Maas and Scott Henderson: https://github.com/uwescience/dssg2018-geopandasSQL-tutorial)

We will start today with the interactive environment that we will be using in the tutorial: the [Jupyter Notebook](http://jupyter.org).

Walk through the following steps

1. Download this notebook `180-biglecture4.ipynb`, and the data file `Places_Full.csv`

2. Type ``jupyter notebook`` or `jupyter lab` in the terminal to start the notebook

   ```
   $ jupyter notebook
   ```
   
   If everything has worked correctly, it should automatically launch your default browser
   ```
   ```
   
3. Click on ``180-biglecture4.ipynb`` to open the notebook containing the content for this lecture.

## About Jupyter

- Combines the features of an IPython terminal with a fancy web interface
- Every notebook has one python instance running with it
- Also supports markdown and html embedding
- Easy to insert $\LaTeX$ formulas
- Be ware of VIM-style keyboard shortcuts

## Python refresher
- Components with the same capabilities are of the same *type*. 
  - For example, the numbers 2 and 200 are both integers.
  - This is called "duck typing" (if it looks like a duck, quacks like a duck...)
  
- A type is defined recursively. Some examples.
  - A list is a collection of objects that can be indexed by position.
  - A list of integers contains an integer at each position.
  
- A type has a set of supported operations. For example:
  - Integers can be added
  - Strings can be concatented
  - A table can find the name of its columns
    
- In python, members (components and operations) are indicated by a '.'
  - If `a` is a list, the `a.append(1)` adds `1` to the list.

In [8]:
# Python lists can store data of different types at the same time
a_list = [1, 'a', [1,2]]

In [ ]:
a_list.append(2)

In [ ]:
# What are the full set of functions available for our list
a_list.

In [ ]:
# Count how many times the integer '1' occurs
a_list.count(1)

## Python's Data Science Ecosystem

There are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language , much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

# Basic Pandas

In [32]:
# import all the libraries we are going to use
import pandas as pd
import shapely
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
print('Pandas version: ', gpd.pd.__version__)

Pandas version:  0.23.0

In [36]:
# Pandas has convenient methods for reading tabluar data, in this case we have 1 CSV file:
!ls -lh ./*csv

-rw-r--r--  1 ryanmaas  staff   181K Apr  7 19:47 ./Places_Full.csv

In [39]:
# Note that the 'places' information has 9 columns with labels in the first row
!head Places_Full.csv

name,address,city,lat,lng,place_id,rating,class,type
Trader Joe's,1700 East Madison Street,Seattle,47.6158665,-122.3099133,ChIJx0M1ztNqkFQRtgspEllQxk8,4.5,supermarket,
Hillcrest Market,110 Summit Avenue East,Seattle,47.6188496,-122.3250047,ChIJt5emCTMVkFQR-BCgFDTvu9o,3.5,supermarket,
Uwajimaya,600 5th Avenue South,Seattle,47.596843,-122.326929,ChIJq9nX27xqkFQRu05rxkrN7f4,4.5,supermarket,
Kress IGA Supermarket,1427 3rd Avenue,Seattle,47.6093957,-122.3378216,ChIJbdIhoLNqkFQRMTiHCN6W4nU,3.9,supermarket,
Double Dorjee,1501 Pike Street # 511,Seattle,47.608822,-122.3395702,ChIJkX3s-LJqkFQRQRexqCN0jQY,5,supermarket,
Whole Foods Market,2210 Westlake Avenue,Seattle,47.6183442,-122.3380965,ChIJyz9g9EkVkFQRutvXu56_BLk,4.3,supermarket,
Grocery Outlet Bargain Market,1702 4th Avenue South,Seattle,47.5878704,-122.3286255,ChIJIWM_pp5qkFQRsh-E4oUVcIM,4.3,supermarket,
Metropolitan Market Uptown,100 Mercer Street,Seattle,47.624805,-122.354842,ChIJsY2q3UMVkFQRBAbqlwfTqdE,4.5,supermarket,
Trader Joe's,1916 Queen Anne Avenue North,Seattle,47.6365817,-122.3567587,ChIJn-z5HhMVkFQR0APZKI1twvM,4.6,supermarket,

# Pandas review

In [40]:
# Let's work with the smaller 'Places_Full.csv' first
# All Pandas methods are accessed via the 'pd' attribute.
# Since the file is well-formatted, it is easily read into memory:
filePath = './Places_Full.csv'
df = pd.read_csv(filePath)

In [41]:
# 'df' stands for 'Data Frame'. It is essentially a spreadsheet:
df.head()

,name,address,city,lat,lng,place_id,rating,class,type
0,Trader Joe's,1700 East Madison Street,Seattle,47.615866,-122.309913,ChIJx0M1ztNqkFQRtgspEllQxk8,4.5,supermarket,NaN
1,Hillcrest Market,110 Summit Avenue East,Seattle,47.618850,-122.325005,ChIJt5emCTMVkFQR-BCgFDTvu9o,3.5,supermarket,NaN
2,Uwajimaya,600 5th Avenue South,Seattle,47.596843,-122.326929,ChIJq9nX27xqkFQRu05rxkrN7f4,4.5,supermarket,NaN
3,Kress IGA Supermarket,1427 3rd Avenue,Seattle,47.609396,-122.337822,ChIJbdIhoLNqkFQRMTiHCN6W4nU,3.9,supermarket,NaN
4,Double Dorjee,1501 Pike Street # 511,Seattle,47.608822,-122.339570,ChIJkX3s-LJqkFQRQRexqCN0jQY,5.0,supermarket,NaN

In [42]:
# The dataframe has a lot of convenient methods for fast data exploration
# Start with info to confirm that things were read in correctly
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1616 entries, 0 to 1615
Data columns (total 9 columns):
name        1616 non-null object
address     1520 non-null object
city        1540 non-null object
lat         1616 non-null float64
lng         1616 non-null float64
place_id    1616 non-null object
rating      1449 non-null float64
class       1616 non-null object
type        15 non-null object
dtypes: float64(3), object(6)
memory usage: 113.7+ KB

In [26]:
# Simple statistics are obtained for numerical columns
df.describe()

               lat          lng       rating
count  1616.000000  1616.000000  1449.000000
mean     47.619907  -122.321132     4.194134
std       0.056363     0.049129     0.638952
min      47.455556  -122.411493     1.000000
25%      47.586566  -122.347183     3.900000
50%      47.614611  -122.328568     4.300000
75%      47.661334  -122.309480     4.600000
max      47.790207  -122.114213     5.000000

In [43]:
# Columns can be accessed as dictionary items:
print(df['city'].unique())
# Or accessed as attributes for faster typing:
print(df.city.unique())

['Seattle' 'Medina' 'Mercer Island' 'Shoreline' 'Edmonds' 'Tukwila'
 'Kenmore' 'Kirkland' 'Lake Forest Park' 'Bothell' 'Renton' 'Bellevue'
 'Newcastle' 'SeaTac' 'Burien' nan]
['Seattle' 'Medina' 'Mercer Island' 'Shoreline' 'Edmonds' 'Tukwila'
 'Kenmore' 'Kirkland' 'Lake Forest Park' 'Bothell' 'Renton' 'Bellevue'
 'Newcastle' 'SeaTac' 'Burien' nan]

In [44]:
# NOTE: seems there is bug in v 0.3 since the attribute 'class' 
# is reserved for internal use, but it is also a column heading
print(df['class'].unique())
#print(df.class.unique()) # This causes an error

['supermarket' 'library' 'hospital' 'pharmacy' 'post_office' 'school'
 'cafe' 'urban village' 'destination park' 'citywide']

In [45]:
# let's change the name of class to avoid that error
df.rename(columns={'class':'place_class'}, inplace=True)
df.place_class.unique()

array(['supermarket', 'library', 'hospital', 'pharmacy', 'post_office',
       'school', 'cafe', 'urban village', 'destination park', 'citywide'],
      dtype=object)

In [46]:
# Another common issue with tabular data - 
# certain measurements don't always fit into the defined columns 
# or are missing data, and therefore filled with 'not-a-number (nan)'
# For example, some entries don't have a listed city:
print(df.city.unique())

['Seattle' 'Medina' 'Mercer Island' 'Shoreline' 'Edmonds' 'Tukwila'
 'Kenmore' 'Kirkland' 'Lake Forest Park' 'Bothell' 'Renton' 'Bellevue'
 'Newcastle' 'SeaTac' 'Burien' nan]

In [31]:
# Extract data entries without a city
dfNan = df[df.city.isna()]
dfNan

,name,address,city,lat,lng,place_id,rating,place_class,type
1540,12th Avenue,NaN,NaN,47.608315,-122.317345,12th-Avenue,NaN,urban village,NaN
1541,23rd & Union-Jackson,NaN,NaN,47.603145,-122.306682,23rd-&-Union-Jackson,NaN,urban village,NaN
1542,Admiral,NaN,NaN,47.582350,-122.386420,Admiral,NaN,urban village,NaN
1543,Aurora-Licton Springs,NaN,NaN,47.696854,-122.345977,Aurora-Licton-Springs,NaN,urban village,NaN
1544,Ballard,NaN,NaN,47.670593,-122.382603,Ballard,NaN,urban village,NaN
1545,Ballard-Interbay-Northend,NaN,NaN,47.659726,-122.372020,Ballard-Interbay-Northend,NaN,urban village,NaN
1546,Belltown,NaN,NaN,47.614435,-122.347341,Belltown,NaN,urban village,NaN
1547,Bitter Lake Village,NaN,NaN,47.728560,-122.350653,Bitter-Lake-Village,NaN,urban village,NaN
1548,Capitol Hill,NaN,NaN,47.620316,-122.319866,Capitol-Hill,NaN,urban village,NaN
1549,Chinatown-International District,NaN,NaN,47.597980,-122.325308,Chinatown-International-District,NaN,urban village,NaN
1550,Columbia City,NaN,NaN,47.559494,-122.288529,Columbia-City,NaN,urban village,NaN
1551,Commercial Core,NaN,NaN,47.607792,-122.335763,Commercial-Core,NaN,urban village,NaN
1552,Crown Hill,NaN,NaN,47.690125,-122.377021,Crown-Hill,NaN,urban village,NaN
1553,Denny Triangle,NaN,NaN,47.616836,-122.331932,Denny-Triangle,NaN,urban village,NaN
1554,Eastlake,NaN,NaN,47.640854,-122.325625,Eastlake,NaN,urban village,NaN
1555,First Hill,NaN,NaN,47.607908,-122.326042,First-Hill,NaN,urban village,NaN
1556,Fremont,NaN,NaN,47.651807,-122.347581,Fremont,NaN,urban village,NaN
1557,Greater Duwamish,NaN,NaN,47.575167,-122.333526,Greater-Duwamish,NaN,urban village,NaN
1558,Green Lake,NaN,NaN,47.679496,-122.325003,Green-Lake,NaN,urban village,NaN
1559,Greenwood-Phinney Ridge,NaN,NaN,47.691479,-122.355887,Greenwood-Phinney-Ridge,NaN,urban village,NaN
1560,Lake City,NaN,NaN,47.717466,-122.294905,Lake-City,NaN,urban village,NaN
1561,MLK at Holly St,NaN,NaN,47.539179,-122.288571,MLK-at-Holly-St,NaN,urban village,NaN
1562,Madison-Miller,NaN,NaN,47.619732,-122.307232,Madison-Miller,NaN,urban village,NaN
1563,Morgan Junction,NaN,NaN,47.544011,-122.386541,Morgan-Junction,NaN,urban village,NaN
1564,North Beacon Hill,NaN,NaN,47.585549,-122.314352,North-Beacon-Hill,NaN,urban village,NaN
1565,North Rainier,NaN,NaN,47.585429,-122.297574,North-Rainier,NaN,urban village,NaN
1566,Northgate,NaN,NaN,47.706097,-122.326685,Northgate,NaN,urban village,NaN
1567,Outside Seattle,NaN,NaN,47.560094,-122.184359,Outside-Seattle,NaN,urban village,NaN
1568,Outside Villages,NaN,NaN,47.638456,-122.335240,Outside-Villages,NaN,urban village,NaN
1569,Pike/Pine,NaN,NaN,47.614596,-122.321012,Pike/Pine,NaN,urban village,NaN
...,...,...,...,...,...,...,...,...,...
1586,Madison Park,NaN,NaN,47.635897,-122.276901,Madison-Park,NaN,destination park,NaN
1587,Gasworks Park,NaN,NaN,47.646570,-122.335308,Gasworks-Park,NaN,destination park,NaN
1588,Seward Park,NaN,NaN,47.550034,-122.257778,Seward-Park,NaN,destination park,NaN
1589,Lincoln Park,NaN,NaN,47.530419,-122.393117,Lincoln-Park,NaN,destination park,NaN
1590,Volunteer Park,NaN,NaN,47.631061,-122.315451,Volunteer-Park,NaN,destination park,NaN
1591,Lake Union Park,NaN,NaN,47.626200,-122.337323,Lake-Union-Park,NaN,destination park,NaN
1592,Jefferson Park,NaN,NaN,47.568994,-122.308655,Jefferson-Park,NaN,destination park,NaN
1593,Magnusan Park,NaN,NaN,47.680326,-122.253198,Magnusan-Park,NaN,destination park,NaN
1594,Cal Anderson Park,NaN,NaN,47.617320,-122.319570,Cal-Anderson-Park,NaN,destination park,NaN
1595,Greenlake Park,NaN,NaN,47.680250,-122.328499,Greenlake-Park,NaN,destination park,NaN
1596,Olympic Sculpture Park,NaN,NaN,47.616675,-122.355396,Olympic-Sculpture-Park,NaN,destination park,NaN
1597,Madrona Park,NaN,NaN,47.610256,-122.283617,Madrona-Park,NaN,destination park,NaN
1598,Kubota Garden,NaN,NaN,47.513127,-122.266398,Kubota-Garden,NaN,destination park,NaN
1599,Carkeek Park,NaN,NaN,47.711609,-122.372217,Carkeek-Park,NaN,destination park,NaN
1600,Myrtle Edwards Park,NaN,NaN,47.619871,-122.361605,Myrtle-Edwards-Park,NaN,destination park,NaN
1601,Seattle Central College,NaN,NaN,47.616587,-122.321611,Seattle-Central-College,NaN,citywide,College
1602,North Seattle College,NaN,NaN,47.699252,-122.333520,North-Seattle-College,NaN,citywide,College
1603,South Seattle College,NaN,NaN,47.548410,-122.352194,South-Seattle-College,NaN,citywide,College
1604,King Street Station,NaN,NaN,47.598939,-122.329158,King-Street-Station,NaN,citywide,Transit Hub
1605,Westlake Center,NaN,NaN,47.611603,-122.336910,Westlake-Center,NaN,citywide,Transit Hub
1606,Northgate Transit Center,NaN,NaN,47.702358,-122.327210,Northgate-Transit-Center,NaN,citywide,Transit Hub
1607,Downtown Bellevue,NaN,NaN,47.615523,-122.199049,Bellevue-Square,NaN,citywide,Major Employment Area
1608,Tukwila,NaN,NaN,47.455556,-122.254492,Tukwila,NaN,citywide,Major Employment Area
1609,SODO,NaN,NaN,47.583574,-122.333555,SODO,NaN,citywide,Major Employment Area
1610,Overlake-Redmond,NaN,NaN,47.641193,-122.128259,Overlake-Redmond,NaN,citywide,Major Employment Area
1611,Downtown Pioneer Square,NaN,NaN,47.601651,-122.334226,Downtown-Pioneer-Square,NaN,citywide,Major Employment Area
1612,Downtown Commercial Core,NaN,NaN,47.608001,-122.334658,Downtown-Commercial-Core,NaN,citywide,Major Employment Area
1613,University of Washington,NaN,NaN,47.655614,-122.305211,University-of-Washington,NaN,citywide,Major Employment Area
1614,First Hill,NaN,NaN,47.609422,-122.325120,First-Hill,NaN,citywide,Major Employment Area
1615,South Lake Union,NaN,NaN,47.622933,-122.337105,South-Lake-Union,NaN,citywide,Major Employment Area